html{
    scroll-behavior: smooth;
}
body{
    font-family: poppins;  
}
header .carousel-inner .item{
    height: 100vh;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.navbar-inverse{
    background-color: #E0E0E0;
    border-color: transparent;
}
.navbar-inverse .navbar-brand{
    color: #606060;
    font-size: 30px;
    font-weight: 900;
}
.navbar-inverse .navbar-nav > li > a{
    color: #808080;
    text-transform: uppercase;
    font-size: 15px;
    right: 20px;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #fff;
    font-weight: bold; 
}
.banner{
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
.carousel-caption{
    padding-bottom: 180px;
    font-family: poppins;
}
.carousel-caption h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.carousel-caption h2 span{
    color: #edbb00;
}
.carousel-caption a{
    background: #edbb00;
    padding: 15px 35px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
}
.carousel-caption a:hover{
    text-decoration: none; 
}
.carousel-control .right{
    background-image: none;
}
.carousel-control .left{
    background-image: none;
}
.carousel-indicators .active{
    background-color: #edbb00;
    border-color: #edbb00;
}


/*----------------------- about us section ----------------------*/


/*---------------- team members section -------------------*/

.title h1{
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
    color: #fff;
}
.title p{
    margin-bottom: 40px;
    color: #fff;
}
.myTeam{
    /*margin-top: 20px;*/
    background: url("images/logo.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    opacity: 1;
}
.team{ 
    justify-content: center;
}
.row{
    margin-top: 20px;
    margin-bottom: 30px;
}

.team .team-member{
    background-color: #fff;
    margin: 5px;
    box-shadow: 5px 5px 15px #e74c3c;
    transform: all 0.3s ease-in;
    width: 300px;
    padding: 5px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}
.team .team-member:hover{
    background: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9E9E9E;
}
.team .team-member img{
    height: 300px;
    width: 350px;
}
.team .team-member h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 20px;
}
.team .team-member p.role{
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
.team .team-member .team-img{
    /*width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);*/
}
.team .team-member .team-img img{
   /* width: 100px;
    height: 100px;*/
   
}
.team .team-member .icons{
    display: inline-flex;
    padding: 5px;
    margin: 15px 10px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
}
.team .team-member .icons:hover{
    background: grey;
}
.team .team-member:hover h3, .team .team-member:hover i{
    color: #fff;
}


/*------------ our portfolio -------*/
.portfolio h2{
    padding-bottom: 20px;
    text-transform: uppercase;
}
.portfolio p{
    padding: 10px 0;
}
.portfolio .card{
    background-color: #fff;
    width: 250px;
    padding: 5px;
    box-shadow: 5px 5px 15px #e74c3c;
    transform: all 0.3s ease-in;
    text-align: center;
}
.card .theimage img{
    background-position: center;
    height: 150px;
}
.portfolio .card:hover{
    transform: scale(1.1)
}
.portfolio .card .port p{
    font-size: 15px;
}

 
/*----- contact us section ------*/
.contactus{
    width: 100%;
    height: 150hv;
    padding: 80px 0;
    position: relative;
}
.contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
    z-index: -1; 
}

.form-button button{
    justify-content: center;
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    animation-play-state: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    background: transparent;
}
form:hover .form-button button{
    background: #fff;
    color: #50d1c0;
}


/*----- footer ------ 20px 0---*/
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0 0 0 ;
    background: #00121b;
    margin-top: 10px;
    position: relative;
}
.footer-top{
    margin-bottom: 20px;

}
.footersection h3{
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 2.2rem!important;
    /*text-shadow: 0.2px 5px rgba(0,0,0,0.4);*/
}
.footersection h4{
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}
.footersection p{
    color: grey;
    line-height: 30px;
}
.footersection li{
    list-style: none;
    padding: 7px;
}
.footersection li a{
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
}
.footersection li a:hover{
    background: #ff9800;
}
.footerbottom{
    background: #3d545f;
    padding: 10px;
    color: #fff;
    font-size: 17px;
}

.footer-div .icons{
    display: inline-flex;
}

.footer-div .icons i{
    padding: 10px;
    margin: 20px 15px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
}

.footer-div .icons i:hover{
    background: grey;
}
/*------- scrollbutton -----*/
#mybtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px; 
}
#mybtn:hover{
    background: #606060;
    
}

/*---- responsive css ---*/

@media only screen and (min-width: 990px) and (max-width: 1100px){
    .navbar-inverse .navbar-brand{
        font-size: 30px;
    }
    .carousel-caption{
        padding-bottom: 170px;
    }
    .carousel-caption h2{
        font-size: 30px;
    }
    .carousel-caption h3{
        font-size: 20px;
    }
    .carousel-caption a{
        padding: 10px 25px;
    }
}


/*----- media query -----*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .navbar-inverse .navbar-brand{
        font-size: 22px;
    }
    .navbar-inverse .navbar-nav > li > a{
        font-size: 12px;
    }
    .carousel-caption{
        padding-bottom: 170px;
    }
    .carousel-caption h2{
        font-size: 23px;
    }
    .carousel-caption h3{
        font-size: 19px;
    }
    .carousel-caption a{
        padding: 10px 25px;
    }
    .team .team-member{
        /*left: 50px;*/
    }
    .portfolio .card{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px){
    .navbar-inverse .navbar-brand{
        font-size: 22px;
    }
    .navbar-inverse .navbar-nav > li > a{
        font-size: 10px;
        left: 5px;
        color: #000;
    }
    .navbar-collapse{
        background: rgba(0,0,0,0.5);
    }
    .carousel-caption{
        padding-bottom: 200px;
    }
    .carousel-caption h2{
        font-size: 18px;
    }
    .carousel-caption h3{
        font-size: 14px;
    }
    .carousel-caption a{
        padding: 10px 25px;
    }
    .portfolio .card{
        margin: 40px;
    }
}


























